*{
	margin: 0;
	padding: 0;
}

body {
    font-family: "新叶念体";
    font-size: 33px;
    line-height: 1.42857143;
    color: #cdbdbd;
    background-color: #fff;
}
.navbar-default .navbar-brand {
    color: #777;
    font-size: 33px;
}
.navbar-default {
    background-color: #c6b4a4;
    border-color: #c6b4a4;
}
.bj_ing{
	width: 100%;
	
	background: url(../img/tao.jpg)no-repeat;
	background: #ccc;
}
.row_bj img{
	width: 100%;
}
.txt{
	width: 100%;
    font-family: "新叶念体";
	background: url(../img/TB1xGICsxnaK1RjSZFtXXbC2VXa-750-100.png) no-repeat;
    text-align: center;
    font-size: 39px;
	height: 90px;
	line-height: 98px;
	background-position: 181px;
	color: #881e15;
}

/* 介绍 */
.row>div:hover{
	transform: scale(1.1);
	box-shadow: #ccc;
}
.col_name{
	display: flex;
    flex-direction: column;
	height: 288px;
	border-radius: 20px;
	background: #cccccc1f;
	margin-bottom: 27px;
}
.hobby img{
	width: 6.125rem;
}
.hobby{
	justify-content: space-around;
    display: flex;
}
.hobby_1{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-top: 8px;
}
.hobby_1 img{
	width: 6.125rem;
}
.col_name span{
	color: #dba57b;
    font-size: 39px;
}
/* 技能 */
.col_skill{
	display: flex;
    flex-direction: column;
}
	
.col_img{
	width: 53px;
    height: 53px
    border-radius: 29px;
    margin: 0 auto;
}
.col_img img{
	width: 50px;
	height: 50px;
}
.col_txt h4{
    font-size: 20px;
    font-family: "黑体";
    color: #8e667b;
    text-align: center;
}
/* 项目 */
	
.row_projct>div{
	transition: all .2s;
}
.row_projct>div:hover{
	transform: scale(1.1);
}
.project{
	display: flex;
    flex-direction: column;
    background: #f9f5f5;
    height: 357px;
    border-radius: 13px;
	margin-bottom: 25px;
}
.project_txt a{
	color: black;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
}
.project_txt{
	text-align: center;
}
.project_img{
	width: 231px;
    margin: 0 auto;
}
.project_img img{
	width: 230px;
	border-radius: 10px;
}
/* 朋友圈 */
.photo img{
	width: 251px;
}
/* 自我评价 */
.row_h h5{
	    text-align: center;
	    font-size: 25px;
		color: #6f6262;
}
.footer{
	    background: #f6f3f3;
	    height: 300px;
}